<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" >
      <add name="IPFilterModule" type="IPFilterModule" preCondition="" />
    </modules>
  </system.webServer>
  <system.web>
    <compilation debug="true"/>
  </system.web>
  <appSettings>
    <add key="ForbiddenAddresses" value="24.1.60.109, 192.168.1.7, 169.254.21.8" />
  </appSettings>
</configuration>