@{
    ViewBag.Title = "Assignment 3";
}

<div class="jumbotron">
    <h1>ITM463 - Assignment 3</h1>
    <p class="lead">ASP.NET CRUD Operations</p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Instructions</h2>
        <p>
            Build an ASP.NET MVC application with the following requirements:
        </p>
        <ol>
            <li>Use Code First Entity Framework (not from Database)</li>
            <li>No Authentication</li>
            <li>Must have views for three tables that have 1:Many relationships; Pick your own problem domain (e commerce, services, products etc.)</li>
            <li>Use three controllers</li>
            <li>Must have create, edit, delete functionality enabled through the controllers and views.</li>
            <li>Use this tutorial to build your solution - <a href="http://www.asp.net/mvc/overview/getting-started/getting-started-with-ef-using-mvc/creating-an-entity-framework-data-model-for-an-asp-net-mvc-application" target="_blank">link</a></li>
            <li>Deploy to Azure with Database</li>
            <li>Provide source control link for the solution</li>
        </ol>
    </div>
</div>