body {  padding-top: 20px;  padding-bottom: 40px; }

table {
    -webkit-border-radius: 10px;  -moz-border-radius: 10px;  border-radius: 10px;  float: left;
    width: 135px;  font: 15px/30px '2DumbRegular', Arial, sans-serif;  background-color: #FFCC66;  padding-top: 3px;
    padding-bottom: 3px;  padding-left: 20px;  padding-right: 20px;  color: #000;  border-width: 1px;
}
/* Page ------------------------------------------------ */
.container-narrow {  margin: 0 auto;  max-width: 700px; }
.container-narrow > hr {  margin: 30px 0; }
.ui-resizable-handle { display: none; }
.transparent { background:transparent;  border-width: 0px; border-style: none; }
#pageBuffer {  vertical-align: middle;  text-align: center;  width: 699px;  padding-top: 3%;  margin:0 auto;  z-index: 2;  }
.clsPage {  width: 720px;  background-color: #fff;  overflow: scroll;  padding: 0px;  border-width: 0px;
    border-style: solid;  border-color: #000;  border-radius: 15px;  -webkit-border-radius: 15px;
    -moz-border-radius: 15px;  box-shadow: 3px 3px 3px 3px #666;  -webkit-box-shadow: 3px 3px 3px 3px #666;
    -moz-box-shadow: 3px 3px 3px 3px #666;  vertical-align: middle;  }

.clsPageHeading {  font: 80px/100px '3DumbRegular', Arial, sans-serif;  color: #000000;
    background-color: #ffffff;  text-align: left;  vertical-align:bottom;  padding-top: 10px;  padding-left:20px;
    padding-bottom: 5px;  width: 699px;  -webkit-border-radius: 15px;  -moz-border-radius: 15px;  border-radius: 15px;
    line-height: 80px; }
.clsPageHeading h3 {  font: 15px/40px Arial, sans-serif;  color: #000000;  padding-top: 3px;  padding-left: 15px;  }

/* Navigation ---------------------------------------- */
.clsNavButtonContainer {  margin-left: 0px;  margin-right: 0px;  padding-left: 1px;  padding-right: 0px;  width: 720px;
    float: left;  text-align: center;  }
.clsNavButton1, .clsNavButton2, .clsNavButton3, .clsNavButton4, .clsNavButton5, .clsNavButton6 {
    padding-top: 3px;  padding-left: 0px;  background-color: #ffffff;  display:inline;  float: inherit;
    position: relative;  margin-left: 0px;  margin-right: 3px; margin-top: 0px;  border-width: 0px;  border-color: #fff;
    border-style: solid; }
.clsCurrentPage {  -webkit-border-radius: 10px;  -moz-border-radius: 10px;  border-radius: 10px;  float: left;
    width: 135px;  font: 15px/30px '2DumbRegular', Arial, sans-serif;  background-color: #FFCC66;  padding-top: 3px;
    padding-bottom: 3px;  padding-left: 20px;  padding-right: 20px;  color: #000;  border-width: 0px;  }
.clsCurrentPage a {  color: #000;  }
.clsOtherPage {  -webkit-border-radius: 10px;  -moz-border-radius: 10px;  border-radius: 10px;  float: none;
    width: 135px;  font: 15px/30px '2DumbRegular', Arial, sans-serif;  background-color: #CC9933;  padding-top: 3px;
    padding-bottom: 3px;  padding-left: 20px;  padding-right: 20px;  color: #FFFFCC;  border-width: 0px;  }
.clsOtherPage a {  color: #FFFFCC;  }

/* Content ------------------------------------------ */
#PageContent {  -webkit-border-radius: 10px;  -moz-border-radius: 10px;  border-radius: 10px;
    background-color: #ffffff;  color: #000000;  margin-top: 3px;  padding-right: 0px;  width: 719px;  display:inline;
    float: left;  position: relative;  margin-left: 0px;  margin-right: 0px;  padding-top: 10px;  padding-top: 10px;
    padding-bottom: 10px;  }

/* Sections ----------------------------------------- */
.clsSectionLeft {  display:inline;  width: 334px;  position: relative;  float: left;  text-align: left;
    padding-left: 10px;  padding-right: 10px;  border-right-style: dotted;  border-right-color: #FFFFCC;
    font: 16px/24px 'Arial', helvetica,sans-serif;  }
.clsSectionLeft h3 {  font: 20px/30px '2DumbRegular', Arial, sans-serif;  font-weight: bold;  line-height: 20px;  }
.clsSectionLeft h6 {  font: 15px/20px '2DumbRegular', Arial, sans-serif;  font-weight: bold;  line-height: 10px;  }
.clsSectionRight {  background: transparent;  display:inline;  width: 334px;  position: relative;  text-align: left;
    float: left;  padding-left: 10px;  padding-right: 10px;  font: 16px/24px 'Arial', helvetica,sans-serif;  }
.clsSectionRight h3 {  font: 20px/30px '2DumbRegular', Arial, sans-serif;  font-weight: bold;  line-height: 20px;  }
.clsSectionRight h6 {  font: 15px/20px '2DumbRegular', Arial, sans-serif;  font-weight: bold;  line-height: 10px;  }
#inner_page_content {  padding: 0px 5px 5px 5px;  margin: 20px;  text-align: justify;
    font: 16px/24px 'Arial', helvetica,sans-serif;  }
#inner_page_content h3 {  font: 20px/30px '2DumbRegular', Arial, sans-serif;  font-weight: bold;  }
#inner_page_content h6 {  font: 15px/20px '2DumbRegular', Arial, sans-serif;  font-weight: bold;  line-height: 10px;  }
#inner_page_content .postDate {  font: 15px/20px '2DumbRegular', Arial, sans-serif;  font-weight: bold;  line-height: 10px;
    color: #b3b3b3;}
/* Footer ------------------------------------------ */
#PageFooter {  -webkit-border-radius: 10px;  -moz-border-radius: 10px;  border-radius: 10px;  background-color: #CC9933;
    color: #FFFFCC;  height: 30px;  margin-top: 5px;  padding-top: 0px;  padding-bottom: 10px;  width: 719px;
    display: inline-block;  }
#PageFooter table {  padding-top: 10px;  padding-bottom: 10px;  margin:0 auto;  width: 200px;
    font: 15px/20px Arial, sans-serif;  }
#PageFooter a {  color: #FFFFCC;  }
#PageFooter .hitCount {font: 10px/15px '2DumbRegular', Arial, sans-serif;  font-weight: bold;  line-height: 10px;
    color: #CC9933; text-align: center; padding-top: 10px;}
#PageFooter .hitCount a {font: '2DumbRegular', Arial, sans-serif;  font-weight: bold;  line-height: 10px;
    color: #CC9933; text-align: center; padding-top: 1px; text-decoration: none; font-size:xx-small;
    vertical-align:top;}
/* Fonts -------------------------------------------- */

@font-face {
    font-family: '3DumbRegular';
    src: url('3Dumb-webfont.eot');
    src: url('3Dumb-webfont.eot?#iefix') format('embedded-opentype'),
        url('3Dumb-webfont.woff') format('woff'),
        url('3Dumb-webfont.ttf') format('truetype'),
        url('3Dumb-webfont.svg#3DumbRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: '2DumbRegular';
    src: url('2Dumb-webfont.eot');
    src: url('2Dumb-webfont.eot?#iefix') format('embedded-opentype'),
        url('2Dumb-webfont.woff') format('woff'),
        url('2Dumb-webfont.ttf') format('truetype'),
        url('2Dumb-webfont.svg#2DumbRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Input -------------------------------------------- */
input:focus {  border-color: white;  }
