<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration />
    <LastUsedPlatform />
    <SiteUrlToLaunchAfterPublish>http://itm463-assignment3-producemarket.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>itm463-assignment3-producemarket.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>itm463-assignment3-producemarket</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$itm463-assignment3-producemarket</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:itm463assignment3.database.windows.net,1433;Initial Catalog=itm463-assignment3-producemarket_db;User ID=dbadmin@itm463assignment3;Password=33Wonder" Name="Data Source=tcp:itm463assignment3.database.windows.net,1433;Initial Catalog=itm463-assignment3-producemarket_db;User Id=dbadmin@itm463assignment3;Password=33Wonder;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ProduceMarket.Models.ApplicationDbContext, ProduceMarket" MigrationConfiguration="ProduceMarket.Migrations.Configuration, ProduceMarket" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:itm463assignment3.database.windows.net,1433;Initial Catalog=itm463-assignment3-producemarket_db;User Id=dbadmin@itm463assignment3;Password=33Wonder;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>