   <div id="divButtonContainer" class="clsNavButtonContainer">
                <div class="clsNavButton1">
                    <div class="clsOtherPage">
                        <a href="index.php">Home</a>
                    </div>
                </div>
                <div class="clsNavButton2">
                    <div  class="clsOtherPage">
                        <a href="about.php">About</a>
                    </div>
                </div>
                <div class="clsNavButton3">
                    <div  class="clsCurrentPage">
                        <a href="#">Contact</a>
                    </div>
                </div>
                <div class="clsNavButton4">
                    <div  class="clsOtherPage">
                        <a href="admin.php">Admin</a>
                    </div>
                </div>
            </div>
