<div id="divButtonContainer" class="clsNavButtonContainer">
    <div class="clsNavButton1">
        <div class="clsCurrentPage">
            <a href="#">Home</a>
        </div>
    </div>
    <div class="clsNavButton2">
        <div  class="clsOtherPage">
            <a href="about.php">About</a>
        </div>
    </div>
    <div class="clsNavButton3">
        <div  class="clsOtherPage">
            <a id="contactUs" href="#">Contact</a>
        </div>
    </div>
    <div class="clsNavButton4">
        <div  class="clsOtherPage">
            <a id="admin" href="admin.php">Admin</a>
        </div>
    </div>
</div>