<div id="PageFooter" >
    <table>
        <tr>
            <td><a href="index.php" title="Home Page">Home</a></td>
            <td><a href="about.php" title="Learn more...">About</a></td>
            <td><a id="btm-contactUs" href="#" title="Send an email">Contact</a></td>
            <td><a id="btm-admin" href="#" title="Admin">Admin</a></td>
        </tr>
        <tr>
            <td nowrap colspan="4">
                <?php
                    require_once 'hit-count.php';
                ?>
            </td>
        </tr>
    </table>

</div>
