
.x-panel-header.x-header.x-header-noborder.x-docked.x-unselectable.x-panel-header-default.x-horizontal.x-panel-header-horizontal.x-panel-header-default-horizontal.x-top.x-panel-header-top.x-panel-header-default-top.x-box-layout-ct.x-accordion-hd.x-accordion-hd-sibling-expanded {
    //background-color: #D2E7F7 !important;
    font-weight: bold;
}
.x-panel-header.x-header.x-header-noborder.x-docked.x-unselectable.x-panel-header-default.x-horizontal.x-panel-header-horizontal.x-panel-header-default-horizontal.x-top.x-panel-header-top.x-panel-header-default-top.x-box-layout-ct.x-accordion-hd {
    font-weight: bold;
}
/* tab 1 */
div#fiddle-calculate-1013_header.x-panel-header.x-header.x-header-noborder.x-docked.x-unselectable.x-panel-header-default.x-horizontal.x-panel-header-horizontal.x-panel-header-default-horizontal.x-top.x-panel-header-top.x-panel-header-default-top.x-box-layout-ct.x-accordion-hd {
    background-color: #4096D4 !important;
}
div#title-1063-textEl.x-title-text.x-title-text-default.x-title-item {
    color: #ffffff !important;
}
/* tab 2 */
div#fiddle-youtube-tab-1043_header.x-panel-header.x-header.x-header-noborder.x-docked.x-unselectable.x-panel-header-default.x-horizontal.x-panel-header-horizontal.x-panel-header-default-horizontal.x-top.x-panel-header-top.x-panel-header-default-top.x-box-layout-ct.x-accordion-hd {
    background-color: #4096D4 !important;
}
div#title-1068-textEl.x-title-text.x-title-text-default.x-title-item {
    color: #ffffff !important;
}
/* tab 3 */
div#fiddle-planet-money-tab-1052_header.x-panel-header.x-header.x-header-noborder.x-docked.x-unselectable.x-panel-header-default.x-horizontal.x-panel-header-horizontal.x-panel-header-default-horizontal.x-top.x-panel-header-top.x-panel-header-default-top.x-collapsed.x-panel-header-collapsed.x-panel-header-default-collapsed.x-collapsed-top.x-panel-header-collapsed-top.x-panel-header-default-collapsed-top.x-box-layout-ct.x-accordion-hd {
    background-color: #4096D4 !important;
}
div#fiddle-planet-money-tab-1052_header.x-panel-header.x-header.x-header-noborder.x-docked.x-unselectable.x-panel-header-default.x-horizontal.x-panel-header-horizontal.x-panel-header-default-horizontal.x-top.x-panel-header-top.x-panel-header-default-top.x-box-layout-ct.x-accordion-hd {
    background-color: #4096D4 !important;
}

div#title-1069-textEl.x-title-text.x-title-text-default.x-title-item {
    color: #ffffff !important;
}

/* tab 4 */
div#fiddle-footer-1058_header.x-panel-header.x-header.x-header-noborder.x-docked.x-unselectable.x-panel-header-default.x-horizontal.x-panel-header-horizontal.x-panel-header-default-horizontal.x-top.x-panel-header-top.x-panel-header-default-top.x-box-layout-ct.x-accordion-hd {
    background-color: #4096D4 !important;
}
div#title-1070-textEl.x-title-text.x-title-text-default.x-title-item {
    color: #ffffff !important;
}

body#ext-element-1 {
    background-color: #272827 !important;
    padding: 0px 10px 0px 5px !important;
}


